.tinmoi{
    display: flex ;
    width: 1500px;
    text-align: center;
    font-size: 20px;
}
.img2{
    width: 500px;
}
.text{
    text-decoration: none;
    color: black;
    text-align: center;
}
.so1{
    width: 500px;
    padding-right: 2px;
}
.so2{
    width: 500px;
    padding-right: 2px;
}
.so3{
    width: 400px;
}

